
.scrollModalBox{
    background-color: white;
    color: black;
    position: absolute;
    top: 20%;
    width: 60%;
    height: 70%;
    padding: 5%;
}
.cardBox{
    background-color: white;
    color: black;
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    left: 10%;
}