<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Slide Play
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-slides 
      pager="true" 
      [options]="slideOpts" 
      class="cardBox scrollModalBox"
      id="jokeSlider"
      #slider
      (ionSlideNextEnd)="loadNext()"
      (ionSlidePrevEnd)="loadPrev()"
      (ionSlideWillChange)="onSlideWillChange()"
      (ionSlideDidChange) = "onSlideDidChange()"
      zoom>
      <ion-slide *ngFor="let data of slideData; let counter=index">
          <div 
            id={{counter}} 
            class="swiper-zoom-container" 
            style="top:0%;left:0%;width:80%;height:100%">
            <div>
                <img src="../../assets/images/{{data.image}}">
            </div>
            <div>
              <span><b>{{counter+1}}. {{data.name}}</b></span>
              <p class="joke">
                  {{data.joke}}
              </p>
            </div>
          </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
